.Frame {
  text-align: center;
}

.Frame-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stack-row {
  display: flex;
  align-items: center;
}

.Stack-num {
  margin-right: 10px;
}

.Stack-list {
  border: 1px solid black;
  padding: 0;
  width: 240px;
  margin: 0;
}

.Stack-listItem {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 3px 0 2px 80px;
  text-align: left;
}
