.Frame {
  text-align: center;
}

.Frame-Header {
  background-color: #aaa;
  padding: 5px 0 20px;
}

.Frame-Header-list {
  padding: 0;
  margin: 0;
}

.Frame-Header-listItem {
  list-style: none;
}

.Frame-body {
  display: flex;
  width: 100vw;
  overflow: scroll;
}

.Frame-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.Stack-row {
  display: flex;
  align-items: center;
}

.Stack-num {
  margin-right: 10px;
}

.Stack-list {
  border: 1px solid black;
  padding: 0;
  width: 240px;
  margin: 0;
}

.Stack-listItem {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 3px 0 2px 80px;
  text-align: left;
}
